/*OVERWRITE*/
	.PageList {
		display: none;
	}
/*COMMON*/
	.my-clear {
		clear: both;
	}

/*DROPDOW MENU*/
	#my-dropdown-menu-w.my-dropdown-menu-w {
		max-width: 1000px;
		margin: auto;
		background: white;
	}

	#my-dropdown-menu-w.my-dropdown-menu-w .my-dropdown-menu-parent{
		overflow: visible;
	}

	#my-dropdown-menu-w.my-dropdown-menu-w ul {
		padding: 0px;
		list-style: none;
		margin-left: 0px;
		margin-right: 0px;
	}

	#my-dropdown-menu-w.my-dropdown-menu-w .my-dropdown-menu-link {
		padding: 10px;
		text-decoration: none;
		display: block;
		color: #333;
		border: none;
	}

	#my-dropdown-menu-w.my-dropdown-menu-w .my-dropdowm-menu-lv2 {
		display: none;
		position: absolute;
		min-width: 200px;
		background: white;
		z-index: 1;
		border: 1px solid #e3e3e3;
	}

	#my-dropdown-menu-w.my-dropdown-menu-w .my-dropdowm-menu-lv2 > li {
		float: none;
	}

	#my-dropdown-menu-w.my-dropdown-menu-w .my-dropdown-menu-parent > li {
		float: left;
		position: relative;
	}

	#my-dropdown-menu-w.my-dropdown-menu-w .my-dropdown-menu-link:hover,
	#my-dropdown-menu-w.my-dropdown-menu-w .my-dropdown-menu-parent > li:hover {
		background: #e3e3e3;
	}

	
	#my-dropdown-menu-w.my-dropdown-menu-w .my-dropdown-menu-parent > li:hover .my-dropdowm-menu-lv2 {
		display: block !important;
	}
/*END DROPDOW MENU*/